################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AnnouncementTrackingSystem/.vs/AnnouncementTrackingSystem/v16
