################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
obj
bin
/Ats.DatabaseSchema/Ats.DatabaseSchema.dbmdl
/Ats.DatabaseSchema/Ats.DatabaseSchema.jfm
